<header class="header">
	<div class="logoContainer">
		<img src="../../assets/shall-aim-logo.png" alt="Shall Aim" />
	</div>
	<div class="userContainer">
		<button
			mat-icon-button
			[matMenuTriggerFor]="menu"
			class="loginMenuBtn"
			aria-label="userContainer"
		>
			<mat-icon>account_circle</mat-icon> &nbsp; Guest &nbsp;
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>autorenew</mat-icon>
				<span>Refresh Data&nbsp;</span>
			</button>
			<button mat-menu-item>
				<mat-icon>how_to_reg</mat-icon>
				<span>Login Old</span>
			</button>
		</mat-menu>
	</div>
</header>
