<div class="sidebarContainer">
	<ul>
		<li routerLink="/visitors">
			<span class="icon">
				<mat-icon>supervised_user_circle</mat-icon>
			</span>
			<span class="label">
				<span>
					Visitors
				</span>
				<span>
					<span matBadgeColor="primary" matBadge="34"></span>
				</span>
			</span>
			<!--<span matBadgeColor="primary" matBadge="34">Visitors &nbsp;&nbsp;&nbsp;</span>-->
		</li>
		<li routerLink="/messages">
			<span class="icon">
				<mat-icon>speaker_notes</mat-icon>
			</span>
			<span class="label">
				Messages
			</span>
		</li>
	</ul>
</div>