.visitorsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

div > i > a {
	color: #9c27b0;
	color: #5aa454;
	color: #e44d25;
	color: #110dff;
	color: #7aa3e5;
	color: #a8385d;
	color: #aae3f5;
}
