/* You can add global styles to this file, and also import other style files */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

html,
body {
	height: 100%;
	font-size: 100%;
	background-color: #303030;
	background: #303030;
	overflow: hidden;
	color: white;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
	display: flex;
}
.ai-ce {
	align-items: center;
}
.jc-ce {
	justify-content: center;
}
.jc-sb {
	justify-content: space-between;
}
.jc-sa {
	justify-content: space-around;
}
.jc-se {
	justify-content: space-evenly;
}
